*{
    margin: 5px;
}
body{
    margin: 0px;
    background-color: rgb(228, 228, 228);
}
#mywebsite{
    background-color: rgb(228, 228, 228);
    font-family: Arial;
}
#landing{
    padding: 200px;
    background-image: url(../img/landing-img.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 0.8;
    margin: 0px;
}
h1{
    color: white;
    font-size: 40px;
    text-shadow: 1px 1px #222222;
}
p{
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px #222222;
}